body {
    background: #edf9f9;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-repeat: no-repeat;
    background-position: calc(60%) calc(70%);
    background-image: url("../img/top.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    min-height: 300px;
}

.btn-primary {
    background: #FBC0AF;
    border-color: #FBC0AF;
}

.btn-top {
    width: 30%;
}

.ui.main.container {
    padding-top: 80px;
}

a.logo {
    font-family: 'Exo', sans-serif;
    color: #f33;
}

.bland-message {
    font-family: "Sawarabi Mincho";
    font-size: 36px;
}

div.center.column {
    text-align: left;
    max-width: 650px;
}

.statement {
    background-color: rgba(255, 210, 210, .5);
    border-radius: .28571429rem;
    padding: 10pt;
    font-size: 1em;
    color: red;
}

.register {
    color: #0066CC;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

ul.label {
    list-style-type: none;
}

.field {
    text-align: left;
}

.number {
    text-align: right;
    vertical-align: middle !important;
    width: 100px !important;
}

.unit {
    vertical-align: middle;
}

.dropdown:hover > .menu {
    display: flex;
}

.photo-show {
    height: 300px;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 440px;
}

.photo-show img {
    animation: show 9s infinite;
    height: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes show {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
}

.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
    animation-delay: 3s;
}

.photo-show img:nth-of-type(3) {
    animation-delay: 6s;
}

.photo-show img {
    transition: 0.2s;
}

.photo-show:hover img {
    animation-play-state: paused;
}

.error-message {
    color: #ff0000;
}

.index-block{
    margin: 0 auto;
    width: 800px;
    justify-content:space-around;
    display: flex;
}

.index-icon {
    padding:0.5em 1em;
    margin:2em 0;
    font-weight:bold;
    background:#FFF;
    border-radius:10px;
    width: 250px;
    height: 300px;
}

.index-text{
    position:relative;
    text-align:left;
    margin:0;
    padding:0;
}

.index-button {
    display: inline-block;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    line-height: 1em;
    border-radius: .28571429rem;
    position:relative;
    color: #FFF;
}

.acceptance-icon {
    padding:0.5em 1em;
    margin:0 auto;
    background:#FFF;
    border-radius:10px;
    width: 250px;
}

.user-block{
    margin: 30px;
    width: 800px;
    text-align: center;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

td {
    width: 400px;
}